{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Food Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Food blog where members can express their food experiences">
        <meta name="author" content="Riccardo Magni">

        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="\" class="navbar-brand">Food <span>Blog</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'alert-warning' %}
                                <div class="container-fluid p-0">
                                  <div class="alert alert-warning alert-dismissible" role="alert" >
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                  </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>

                        {% if user.is_authenticated and user.is_staff %}
                        <div class="nav-item dropdown">
                            <a href="{% url 'user_profile' id=user.id %}" class="nav-link dropdown-toggle" data-toggle="dropdown">Personal Area</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'user_profile' id=user.id %}" class="dropdown-item">Your Posts</a>
                                <a href="{% url 'users_info' %}" class="dropdown-item">Users' Post Info</a>
                            </div>
                        </div>
                        <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>

                        {% elif user.is_authenticated and not user.is_staff %}
                        <a href="{% url 'user_profile' id=user.id %}" class="nav-item nav-link">Personal Area</a>
                        <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->

        {% block content %}

        {% endblock %}

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                    <p><i class="fa fa-phone-alt"></i>*** *** ****</p>
                                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                            </p>
                            <!-- To develop if necessary -->
                            <div class="form">
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn custom-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="{% url 'index' %}">Food Blog</a>, All Right Reserved.</p>
                </div>
            </div>
        <!-- Footer End -->

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'lib/tempusdominus/js/moment.min.js'%}"></script>
        <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
        <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>